{% load static %} 
<!DOCTYPE html>
<html>

<head>
    <link href="{% static 'img/hyu.png' %}" rel="shortcut icon" type="image/x-icon">
    <title>오늘 뭐먹지?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai+2|Black+Han+Sans|Nanum+Gothic+Coding|Noto+Sans+KR|Source+Code+Pro&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<!-- HEADER -->
    <div class="col-xs-12">
    <div class="header">
        <p>오늘 뭐먹지?</p>
    </div>
    </div>
    <!-- 신촌안, 신촌밖 로고부분-->
    <div class="logo">
        <img src="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FctocdN%2FbtqBAWoc5kx%2FSUn5JU5g0QIp6WEmm5A541%2Fimg.jpg">
        <img src="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FmdQwP%2FbtqByFmNfCu%2FQJakuLT7DsqMa6W9j8kZok%2Fimg.jpg">
    </div>
    <!-- 로그인(로그아웃), 회원가입, 글쓰기 -->
    <div class="nav_bar">
        <p>
            <a href="#"><span>로그인</span><span style="font-size: 10px;">할래요?</span></a>
            <a href="#"><span>회원가입</span><span style="font-size: 10px;">할래요?</span></a>
            <a href="#"><span>글쓰기</span><span style="font-size: 10px;">할래요?</span></a>
        </p>
    </div>
    <!-- DROPDOWN AREA-->
    <div class="drop">
        <div class="dropdown show">
            <a class="btn btn-lg dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            전  체
            </a>
        
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">신촌 안</a>
            <a class="dropdown-item" href="#">신촌 밖</a>
            </div>
        </div>
    </div>
    
<!-- CAROUSEL AREA-->
<div class="issue">
	<p class="today">
		<span id="def">오늘의 </span><span id="topic">추천 </span><span id="today">맛집 </span>
	</p>
</div>

<div id="demo" class="carousel slide" data-ride="carousel">

	<!-- The slideshow -->
	<div class="carousel-inner">
		<div class="carousel-item active">
        {% if last_post.image.url != None %}
            <a href="{% url 'blog:post_detail' last_post.id %}"><img class="center-block img-responsive car" src="{{ last_post.image.url }}"></a>
        {% else %}
            <a href="{% url 'blog:post_detail' last_post.id %}"><img class="center-block img-responsive car" src="{% static 'img/yonsei.jpg' %}"></a>
        {% endif %}
        </div>
         {% for post in posts %} 
         {% if forloop.counter > 1 %} 
         {% if forloop.counter < 5 %} 
         {% if post.image.url != None %} 
         <div class="carousel-item">
		    <a href="{% url 'blog:post_detail' post.id %}"><img class="center-block img-responsive car" src="{{ post.image.url }}"></a>
	     </div>
         {% endif %} 
         {% endif %} 
         {% endif %} 
         {% endfor %}
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
    </a>
</div>

<!-- CARD AREA -->
    <div class="container content">
    <p class="contents">
    <span>&#x1F437;</span> 모든 맛집 <span>&#x1F437;</span>
    </p>
    </div>
<div class="container">
<div class="row row-cols-1 row-cols-md-3">
	{% for post in posts %}
	<div class="col mb-4">
        <div class="container card-whole">
		<div class="card h-100" style="width: 30rem; border: 1.5px solid black; border-radius: 20px;">
            {% if post.image.url != None%} 
            <a href="{% url 'blog:post_detail' post.id %}"><img src="{{ post.image.url }}" class="card-img-top" width="500" height="300" alt="{{ post.image }}" style="border-radius: 20px;"></a>
            {% else %} 
            <a href="{% url 'blog:post_detail' post.id %}"><img src="{% static 'img/yonsei.jpg' %}" class="card-img-top" width="500" height="300" alt="no-image" style="border-radius: 20px;"></a>
			{% endif %}
			<div class="card-body card_body">
			    <h2 class="card-title" align="center"><strong>{{ post.title }}</strong></h2>
			    <br>
			    <p class="card-text date" align="right">{{post.created_date}}</p>
			</div>
        </div>
        </div>
	</div>
	{% endfor %}
</div>
</div>

<!-- footer -->
<div class="button">
    <button type="button" class="btn btn-success btn-lg"><a href="https://github.com/menghanii/" target="_blank"><span style="font-size: 30px">&#x1F435;</span></a></button>
    <button type="button" class="btn btn-danger btn-lg"><a href="https://github.com/kyunghwanleethebest/" target="_blank"><span style="font-size: 30px">&#x1F414;</span></a></button>
    <button type="button" class="btn btn-warning btn-lg"><a href="https://github.com/FeetCodingHommy/" target="_blank"><span style="font-size: 30px">&#x1F437;</span></a></button>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>