{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="{% static 'img/hyu.png' %}" rel="shortcut icon" type="image/x-icon">
        <title>양경휴의 휴식공간</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai+2|Indie+Flower|Nanum+Gothic+Coding|Noto+Sans+KR|Source+Code+Pro&display=swap" rel="stylesheet" type="text/css">      
        <link href="http://fonts.googleapis.com/earlyaccess/hanna.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body background="http://www.fundiaco.ind.br/images/background-patterns/body-bg-1.jpg">

        <div class="head">
            <h1 class="head_title">3 coding hommies from YSDA</h1>
            <br>
            <div class="button">
                <button type="button" class="btn btn-success btn-lg"><a href="https://github.com/menghanii/" target="_blank"><strong>lambda x : return menghanii's github</strong></button>
                <button type="button" class="btn btn-danger btn-lg"><a href="https://github.com/kyunghwanleethebest/" target="_blank"><strong>import kyunghwanleethebest from SSAFY</strong></button>
                <button type="button" class="btn btn-warning btn-lg"><a href="https://github.com/FeetCodingHommy/" target="_blank"><strong>print(f'{hyu_the_bachelor} → Master')</strong></button>
            </div>
        </div>
        <br>

        <div>
            <p class="issue"> <span id="def">def</span> <span id="topic">Topic</span><span id="today">(Today) : </span></p>
        </div>
        <div id="demo" class="carousel slide" data-ride="carousel">

           
          
            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a href="{% url 'blog:post_detail' last_post.id %}"><img class="center-block img-responsive car" src="{{ last_post.image.url }}" ></a>
              </div>
              {% for post in posts %}
              {% if forloop.counter > 1 %}
              {% if forloop.counter < 5 %}
              {% if post.image.url != None %}
                <div class="carousel-item">
                    <a href="{% url 'blog:post_detail' post.id %}"><img class="center-block img-responsive car" src="{{ post.image.url }}"></a>
                </div>
              {% endif %}
              {% endif %}
              {% endif %}
              {% endfor %}
            </div>
          
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          
          </div>
        <!--
        <div>
            
            <div class="content container">
                <div class="row">
                    <div class="col-md-4 col-xs-6"> 
                        <div class="issues">
                            <a href="https://www.hanyang.ac.kr/web/www/news_all?p_p_id=newsView_WAR_newsportlet&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-1&p_p_col_count=1&_newsView_WAR_newsportlet_action=view_message&_newsView_WAR_newsportlet_messageId=19653" target="_blank"><h3 class="issue_title">성휴의 화려했던 과거[[클릭!]]</h3></a>
                            <img src="https://www.hanyang.ac.kr/news/photo/201601/19653_24662_4713.jpg" class="img-rounded topic">
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="issues">
                            <h3 class="issue_title">북한산 첫 등반</h3>
                            <img src="http://myunghan.pythonanywhere.com/media/KakaoTalk_20200314_025534256_08BzMcC.jpg" class="img-rounded topic">
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="issues">
                            <a href=""><h3 class="issue_title">데이터 사이언티스트의 필수역량</h3></a>
                            <img src="https://cdn.proschoolonline.com/wp-content/uploads/2018/12/data-scientist-musthave-skills-1.jpg" class="img-rounded topic">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
        <hr>

        <p class='contents'> [[글 목록]] </p>
        
        <div class="content container">
            <div class="row">
                <div class="col-md-12">
                    {% for post in posts %}
                        <div class="post">
                            <h1 class="post_title"><a href="{% url 'blog:post_detail' post.id %}">&#x2728;  {{ post.title }}  &#x2728;</a></h1>
                            <p class="post_text">{{ post.text|linebreaksbr }}</p>
                            {% if post.image.url != None%}
                            <p class="post_images"><img class="center-block img-responsive" src="{{ post.image.url }}" alt="{{ post.image }}"></p> 
                            {% endif %}
                            <div class="date">
                                <p>published: {{ post.created_date }}</p>
                            </div>
                            <hr>
                            <br>
                        </div>
                    {% endfor %}
                </div>
                    
                
            </div>
        </div>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>