{% load static %} 
<!DOCTYPE html>
<html>

<head>
    <link href="{% static 'img/ryan.png' %}" rel="shortcut icon" type="image/x-icon">
    <title>오늘 뭐먹지?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai+2|Black+Han+Sans|Nanum+Gothic+Coding|Noto+Sans+KR|Source+Code+Pro&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<!-- HEADER -->
    <div class="col-xs-12">
    <div class="header">
        <p><span class="shadowy">오</span><span class="title_small">늘</span> <span class="shadowy">뭐</span><span class="title_small">먹지</span>?</p>
    </div>
    </div>
    <!-- 신촌안, 신촌밖 로고부분-->
    <div class="logo">
        <!--<img src="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FctocdN%2FbtqBAWoc5kx%2FSUn5JU5g0QIp6WEmm5A541%2Fimg.jpg">
        <img src="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FmdQwP%2FbtqByFmNfCu%2FQJakuLT7DsqMa6W9j8kZok%2Fimg.jpg">-->
    </div>
    <!-- 로그인(로그아웃), 회원가입, 글쓰기 -->
    <div class="nav_bar">
        <p>
            <a href="{% url 'blog:main_page' %}"><span class="middle">홈으로</span><span class="small">고고~</span></a>
            {% if request.user.is_authenticated %}
            <a href="{% url 'accounts:accounts_detail' user.id %}"><span class="middle">마이페이지</span><span class="small">갈래요?</span></a>
            <a href="{% url 'accounts:logout' %}"><span class="middle">로그아웃</span><span class="small">할래요?</span></a>
            <a href="{% url 'blog:post_create'%}"><span class="middle">글쓰기</span><span class="small">할래요?</span></a>
            {% else %}
            <a href="{% url 'accounts:signup'%}"><span class="middle">회원가입</span><span class="small">할래요?</span></a>
            <a href="{% url 'accounts:login' %}"><span class="middle">로그인</span><span class="small">할래요?</span></a>
            {% endif %}                       
        </p>
    </div>
    <!-- DROPDOWN AREA-->
    <div class="drop">
        <div class="dropdown show">
            <a class="btn btn-lg dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            어디서 먹어요?
            </a>
        
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{% url 'blog:main_page'%}">전체 ?</a>
            <a class="dropdown-item" href="{% url 'blog:bulletin_1'%}">신촌 안 ?</a>
            <a class="dropdown-item" href="{% url 'blog:bulletin_2'%}">신촌 밖 ?</a>
            </div>
        </div>
    </div>
    
<!-- CAROUSEL AREA-->
<div class="issue">
	<p class="today">
		<span id="def">오늘의 </span><span id="topic">추천</span><span id="today">맛집!</span>
	</p>
</div>

<div id="demo" class="carousel slide" data-ride="carousel">

	<!-- The slideshow -->
	<div class="carousel-inner">
		<div class="carousel-item active">
        {% if last_post.image.url != None %}
            <a href="{% url 'blog:post_detail' last_post.id %}"><img class="center-block img-responsive car" src="{{ last_post.image.url }}"></a>
        {% else %}
            <a href="{% url 'blog:post_detail' last_post.id %}"><img class="center-block img-responsive car" src="{% static 'img/yonsei.jpg' %}"></a>
        {% endif %}
        </div>
         {% for post in posts %} 
         {% if forloop.counter > 1 %} 
         {% if forloop.counter < 5 %} 
         {% if post.image.url != None %} 
         <div class="carousel-item">
		    <a href="{% url 'blog:post_detail' post.id %}"><img class="center-block img-responsive car" src="{{ post.image.url }}"></a>
	     </div>
         {% endif %} 
         {% endif %} 
         {% endif %} 
         {% endfor %}
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
    </a>
</div>

<!-- CARD AREA -->
    <div class="container content">
    <p class="contents">
    <span>&#x1F437;</span> 전체 맛집을 보여드릴게요 <span>&#x1F437;</span><br>
    <div class="menubar">
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">한</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">중</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
        <label class="form-check-label" for="inlineCheckbox3">일</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
        <label class="form-check-label" for="inlineCheckbox4">야식</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
        <label class="form-check-label" for="inlineCheckbox5">분식</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
        <label class="form-check-label" for="inlineCheckbox6">&#x1F357;&#x1F355;&#x1F354;</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option7">
        <label class="form-check-label" for="inlineCheckbox7">기타</label>
        <span class="search">
        <button type="button" class="btn btn-outline-danger">찾아줘!</button>
        </span>
        </div>

    </div>
    </p>
    </div>
    
<div class="container-fluid" id="yespadding">
<div class="row row-cols-3 row-cols-md-4" id="card-col">
	{% for post in posts %}
	<div class="col mb-4 nopadding">
        <div class="card-whole h-100">
		<div class="card h-100">
            {% if post.image.url != None%} 
            <a href="{% url 'blog:post_detail' post.id %}"><img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.image }}"></a>
            {% else %} 
            <a href="{% url 'blog:post_detail' post.id %}"><img src="{% static 'img/yonsei.jpg' %}" class="card-img-top" alt="no-image"></a>
			{% endif %}
			<div class="card-body card_body">
			    <h2 class="card-title" align="center"><strong>{{ post.title }}</strong></h2>
			    <br>
			    <p class="card-text date" align="right">{{post.created_date}}</p>
			</div>
        </div>
        </div>
	</div>
	{% endfor %}
</div>
</div>

<!-- footer -->
<footer class="page-footer font-small">
    <div class="button">
        <button type="button" class="btn btn-success"><a href="https://github.com/menghanii/" target="_blank"><span class="git">&#x1F435;</span></a></button>
        <button type="button" class="btn btn-danger"><a href="https://github.com/kyunghwanleethebest/" target="_blank"><span class="git">&#x1F414;</span></a></button>
        <button type="button" class="btn btn-warning"><a href="https://github.com/FeetCodingHommy/" target="_blank"><span class="git">&#x1F437;</span></a></button>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">menghanii, kyunghwanleethebest, FeetCodingHommy
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright
    </div>
    <!-- Copyright -->
    <div class="container-fluid back-to-top">
    <a id="back-to-top" href="#" class="btn btn-lg back-to-top" role="button" title="위로 올라갈까요?" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
    </div>
</footer>
  


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>