{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>양경휴의 휴식공간</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/detail.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai+2|Indie+Flower|Nanum+Gothic+Coding|Noto+Sans+KR|Source+Code+Pro&display=swap" rel="stylesheet" type="text/css">    
        <link href="http://fonts.googleapis.com/earlyaccess/hanna.css" rel="stylesheet" type="text/css">
    </head>

    <body background="http://www.fundiaco.ind.br/images/background-patterns/body-bg-1.jpg">
        <div class="head">
            <h1>3 coding hommies from YSDA</h1>
        </div>

        <br>


<ul class>
    <li class="to_main">
        <a href="{% url 'blog:main_page'%}"><strong>메인으로 돌아가기</strong></a>
    </li>
</ul>

<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <div class="posting">
                <h1>{{post.title}}</h1>
                <hr>

                {% comment %} <p>{{post.study_type}}</p> {% endcomment %}
                {% if post.image.url != None%}
                <p> <img src="{{ post.image.url }}" alt="{{ post.image }}"> </p> 
                {% endif %}
            </div>  
            <p class="text">{{post.text}}</p>
        </div>
    </div>
</div>

{% comment %} <div>
    <a href="{% url 'blog:post_update' article.id %}">
        <button>수정</button>
    </a>
    <form action=" {% url 'article:article_delete' article.id %} " method="POST">
        {% csrf_token %}
        <input type="submit" value="삭제" onclick="return confirm('글을 정말로 삭제하시겠습니까?')">
    </form>
</div> {% endcomment %}

<hr>

{% comment %} <div>
    <form action="{% url 'article:create_comment' article.id %}" method="POST">
        {% csrf_token %}
        <label for="comment"><strong>{{user}} 님</strong>, 한줄 평을 남겨보아요~</label>
        <input type="text" name="content" id="comment" autofocus>
        <button>등록!!</button>
    </form>

</div>


<div>
    <ul>
    {% if comments %}
   
    {% for comment in comments  %}
    <li> {{comment.writer}} : {{comment.content}}  
    <div>
      <form action=" {% url 'article:delete_comment' article.id comment.id %} " method="POST">
          {% csrf_token %}
          <button>
     <i class="fas fa-trash"> 삭제!</i>
     </button>
      </form>
     </div>
    </li>
   
      
 
    {% endfor %}

    {% else %}
      <li class="list-group-item mb-1"> No comments yet...</li>
    {% endif %}
    
  
    </ul>
  </div> {% endcomment %}
        
    </body>
</html>