<!DOCTYPE html>
<html>
    <head>
        <title>명한블로그</title>
    </head>
    <body>
        <div>
            <h1><a href="">웰컴투마이월드</a></h1>
        </div>

        <div>
            <h2><a href="">경환이 ㅎㅇ</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <h2><a href="">성휴 ㅎㅇ</a></h2>
            <img src="https://www.hanyang.ac.kr/news/photo/201601/19653_24662_4713.jpg">
        </div>
    </body>
</html>