.head{
    text-align: center;
    font-size: 3rem;
    background-color:royalblue;
    color: whitesmoke;
    font-family: 'Jeju Hallasan';
}

.posting{
    text-align: center;
}

img{
    width: 800px;
}