.head{
    text-align: center;
    font-size: 40px;
    color: black;
    font-family: 'Indie Flower';
}

.posting{
    text-align: center;
}

.to_main{
    font-family: 'Noto Sans KR', sans-serif;
    
}
.text{
    font-size: 25px;
}

ul{
    list-style: none;
}

img{
    width: 800px;
}