body{
    border-style: solid;
    border-width: 10px;
    border-color: red;
}

/* DEF TOPIC(TODAY)  */
#def{
    color: red;
    font-family: 'Black Han Sans';
}

#topic{
    color: black;
    font-family: 'Black Han Sans';
}

#today{
    color:red;
    font-family: 'Black Han Sans';
}

/* HEADER & TITLE  */
.header{
    padding-top: 20px;
    color: red;
    text-align: center;
    font-family: 'Black Han Sans';
    font-size: 100px;
}
.nav_bar{
    color:whitesmoke;
    text-align: center;
    text-shadow: 1px 1px 0px black;
    font-size: 20px;
    font-family: 'Black Han Sans';
}
.nav_bar a:link {color: whitesmoke; text-decoration: none;}
.nav_bar a:visited {color: whitesmoke; text-decoration: none;}
.nav_bar a:hover {color: whitesmoke; text-decoration: none;}

.logo{
    text-align: center;
}

.logo img{
    width: 200px;
    height: auto;
}

.drop{
    text-align: center;
}

.dropdown-toggle {
    background-color: red !important;
    color: white !important;
    width: 300px !important;
    height: 50px !important;
    font-size: 30px !important;;
    font-family: 'Black Han Sans';
}

.dropdown-toggle::after{
    content: none;
}

.dropdown-item{
    color: red !important;
    width: 300px !important;
    height: 50px !important;
    font-size: 30px !important;
    font-family: 'Black Han Sans';
    text-align: center !important;
}

/* CAROUSEL AREA */
.today{
    font-size: 40px;
    text-shadow:
    -2px -2px 0 yellow,
    2px -2px 0 yellow,
    -2px 2px 0 yellow,
    2px 2px 0 yellow; 
}
.issue{
    font-family: 'Source Code Pro';
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    
    padding-top: 30px;
}

.car{
    height: 250px;
    width: auto;
}

/* CARD AREA(CONTENTS) */

.content{
    padding-top: 30px;
    padding-bottom: 30px;
}

.contents{
    border: 2px solid black;
    border-radius: 20px;
    font-family: 'Black Han Sans';
    text-align: center;
    font-size: 40px;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}

.date{
    color: gray;
}