h1 a{
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
}

/* DEF TOPIC(TODAY)  */
#def{
    color: orange;
}

#topic{
    color: rgb(212, 212, 22);
}

#today{
    color:rgb(158, 8, 158);
}

/* HEADER & TITLE  */
.head{
    padding-top: 15px;
    color: black;
    font-family: 'Indie Flower';
    text-align: center;
}

.head_title{
    font-size: 40px;
}

.button{
    text-align: center;
}

/* CAROUSEL AREA */
.issue{
    font-family: 'Source Code Pro';
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 1px 1px 0px black;
    padding-top: 30px;
}

.car{
    height: 400px;
    width: auto;
}

/* CARD AREA(CONTENTS) */
.contents{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: black;
    padding-top: 30px;
    padding-bottom: 15px;
}

.date{
    color: gray;
}