h1 a{
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
}

.head{
    padding-top: 15px;
    text-align: center;
    color: black;
    font-family: 'Indie Flower';
}
.button{
    font-family: 'Source Code Pro';
}

.head_title{
    font-size: 40px;
}
.button{
    text-align: center;
}

.button strong{
    color: whitesmoke;
}

.contents{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: peru;
    padding-top: 15px;
    padding-bottom: 15px;
}
.issue{
    font-family: 'Source Code Pro';
    text-align: center;
    color: red;
    font-size: 3rem;
    font-weight: bold;
}

.issue_title{
    font-family: 'Nanum Gothic Coding';
    text-align: center;
    font-size: 2rem;
    color: black;
}

.post_title{
    text-align: center;
    padding-bottom: 10px;
}

.post_text{
    padding-left: 20rem;
    padding-right: 20rem;
    text-justify: auto;
    font-size: 20px;
}

.post_images{
    text-align: center;
}

.date{
    text-align: center;
    color: gray;
}

.issues{
    text-align: center;
}

.topic{
    width: 360px;
    height: 270px;
    display: block;
    margin: 0px auto;
}

img{
    width:600px;
}

#def{
    color: orange;
}
#topic{
    color: rgb(212, 212, 22);
}
#today{
    color:rgb(158, 8, 158);
}