{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link href="{% static 'img/ryan.png' %}" rel="shortcut icon" type="image/x-icon">
    <title>오늘 뭐먹지?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai+2|Black+Han+Sans|Nanum+Gothic+Coding|Noto+Sans+KR|Source+Code+Pro&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <!-- HEADER -->
    <div class="col-xs-12">
        <div class="header">
            <p><span class="shadowy">오</span><span class="title_small">늘</span> <span class="shadowy">뭐</span><span class="title_small">먹지</span>?</p>
        </div>
    </div>
    <!-- 신촌안, 신촌밖 로고부분-->
    <div class="logo">
        <!--<img src="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FctocdN%2FbtqBAWoc5kx%2FSUn5JU5g0QIp6WEmm5A541%2Fimg.jpg">
            <img src="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FmdQwP%2FbtqByFmNfCu%2FQJakuLT7DsqMa6W9j8kZok%2Fimg.jpg">-->
    </div>
    <!-- 로그인(로그아웃), 회원가입, 글쓰기 -->
    <div class="nav_bar">
        <p>
            <a href="{% url 'blog:main_page' %}"><span class="middle">홈으로</span><span class="small">고고~</span></a>
            {% if request.user.is_authenticated %}
            <a href="{% url 'accounts:accounts_detail' user.id %}"><span class="middle">마이페이지</span><span class="small">갈래요?</span></a>
            <a href="{% url 'accounts:logout' %}"><span class="middle">로그아웃</span><span class="small">할래요?</span></a>
            <a href="{% url 'blog:post_create'%}"><span class="middle">글쓰기</span><span class="small">할래요?</span></a>
            {% else %}
            <a href="{% url 'accounts:signup'%}"><span class="middle">회원가입</span><span class="small">할래요?</span></a>
            <a href="{% url 'accounts:login' %}"><span class="middle">로그인</span><span class="small">할래요?</span></a>
            {% endif %}
        </p>
    </div>


    {% block body %}

    {% endblock %}



    <!-- footer -->
    <footer class="page-footer font-small">
        <div class="button">
            <button type="button" class="btn btn-success"><a href="https://github.com/menghanii/" target="_blank"><span
                        style="font-size: 30px">&#x1F435;</span></a></button>
            <button type="button" class="btn btn-danger"><a href="https://github.com/kyunghwanleethebest/"
                    target="_blank"><span style="font-size: 30px">&#x1F414;</span></a></button>
            <button type="button" class="btn btn-warning"><a href="https://github.com/FeetCodingHommy/"
                    target="_blank"><span style="font-size: 30px">&#x1F437;</span></a></button>
        </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">menghanii, kyunghwanleethebest, FeetCodingHommy
        </div>

        <div class="footer-copyright text-center py-3">© 2020 Copyright
        </div>
        <!-- Copyright -->
        <div class="container-fluid back-to-top">
            <a id="back-to-top" href="#" class="btn btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
            </div>

    </footer>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>